/*
 *= require_tree .
 *= require_self
 */

input {
  text-align: center;
}

 .navbar {
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(50,70,80,.4) 10%,rgba(60,50,40,0) 40%),-moz-linear-gradient(top,  rgba(30,50,60,.25) 0%, rgba(20,30,40,.4) 100%), -moz-linear-gradient(-45deg,  #330d10 0%, #091236 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(50,70,80,.4) 10%,rgba(60,50,40,0) 40%), -webkit-linear-gradient(top,  rgba(30,50,60,.25) 0%,rgba(20,30,40,.4) 100%), -webkit-linear-gradient(-45deg,  #330d10 0%,#091236 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(50,70,80,.4) 10%,rgba(60,50,40,0) 40%), -o-linear-gradient(top,  rgba(30,50,60,.25) 0%,rgba(20,30,40,.4) 100%), -o-linear-gradient(-45deg,  #330d10 0%,#091236 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(50,70,80,.4) 10%,rgba(60,50,40,0) 40%), -ms-linear-gradient(top,  rgba(30,50,60,.25) 0%,rgba(20,30,40,.4) 100%), -ms-linear-gradient(-45deg,  #330d10 0%,#091236 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(50,70,80,.4) 10%,rgba(60,50,40,0) 40%), linear-gradient(to bottom,  rgba(30,50,60,.25) 0%,rgba(20,30,40,.4) 100%), linear-gradient(135deg,  #330d10 0%,#091236 100%);
}

 .navbar-expand-lg {
  padding-left: 15px;
 }

 .navbar-collapse {
  margin-right: 10px;
 }

 .navbar-brand {
  font-size: 25px;
  font-family: cursive;
}

.nav-item:hover > .nav-link {
  color: white !important;
}

.user-avatar{
  border-radius: 65%;
  width: 200px;
  height: 200px;
}

.image{
  width: 350px;
  height: 250px;
}

.main-container {
  min-height: 100vh;
}

.custom-file-input {
  height: 60px !important;
}

.ticket-status-label {
  margin-bottom: 10px;
}

.btn-radio-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-radio {
  flex: 1;
  margin: 0 5px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  box-sizing: border-box;
  transition: box-shadow 0.3s, transform 0.3s;
}

.btn-radio input[type="radio"] {
  display: none;
}

.btn-radio label {
  color: #777;
  pointer-events: none;
}

.btn-radio input[type="radio"]:checked + label {
  color: #000;
}

.timepicker, .flatpickr {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-container {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

.label-box__inner{
  margin: 20px 0;
  padding: 10px 20px 5px 20px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  position: relative;
   .input-default{
     display: none;
     width: 100%;
     height: 40px;
     margin: auto;
     padding: 10px 16px 8px;
     border-radius:4px;
     background: #fff;
     line-height: 1.5;
     cursor: pointer;
     outline-width: 2px;
    }
 }

.weather-precipitation{
  padding-bottom: 16px;
}

.mealpicture:hover {
cursor: pointer;
}

  @media (max-width: 1023px) {
  .artist, .artist-index, .artist-show {
    width: 99%;
  }
  .good-form, .goods {
    width: 99%;
  }
  .good-form{
    padding: 10px;
    margin-top: 5px;
    border-radius: 0%;
  }
  .card {
    width: 98%;
  }
  .spec {
    width: 100%;
  }
  }
  @media (max-width: 768px) {
    .navbar .dropdown-toggle:after {
      display: none;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
  .display-4 {
    font-size: 3rem !important;
  }
  }
